body{
    background-color: #6f42c1; 
    font-size: 20px;
    color: white;
    padding: 50px;
}

.jururu{
    border: 2px solid white;
    color: white;
    background-color: #4B0082;
    font-size: 16px;
}

.jururu:hover{
    border: 2px solid #4B0082;
    color: #4B0082;
    background-color: white;
    font-size: 16px;
}